# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
autom4te.cache
config.status
config.log
aclocal.m4
.DS_Store
src/.deps
Makefile.in
Makefile
libtool
configure
src/gitian-verifier
src/config/stamp-h1
